<!-- <nav class="navbar fixed-top bg-warning">
  <div class="container">
    <div class="col-md-2">
      <a class="navbar-brand" href="#">Chandra Sekhar</a>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-4">
      <a class="navbar-brand" href="#about">About</a>
      <a class="navbar-brand" href="#skills">Skills</a>
      <a class="navbar-brand" href="#projects">Projects</a>
    </div>
  </div>
</nav> -->
<header>
  <div class="text-center">
    <img id="logo" class="img-circle"
      src="https://media-exp1.licdn.com/dms/image/C4D03AQGBBi7DaX1jUA/profile-displayphoto-shrink_400_400/0/1524079394955?e=1615420800&v=beta&t=ckJCKLzCwwPch7Nvc6aEMOGEkzUjZKGiQRyPm-a7LqU"
      alt="Chandra Sekhar, Bhamidipati Syamala">
    <h1 class="title">Chandra Sekhar</h1>
    <h2 class="tagline">Technical Lead</h2>
  </div>
  <p class="social">
    <a href="https://www.linkedin.com/in/bschandrasekhar" target="_blank"><i class="fa fa-linkedin fa-2"></i></a>
    <a href="https://github.com/chandrasekharbs" target="_blank"><i class="fa fa-github fa-2"></i></a>
    <a href="mailto:sekharchandrabs@gmail.com" target="_blank"><i class="fa fa-google fa-2"></i></a>
  </p>
</header>

<main class="container">
  <br />
  <br />
  <div id="about" class="row">
    <div class="col-md-12">
      <p class="lead text-center text-muted">Hey, there! 👋 I am Chandra Sekhar, Technical Lead.</p>
      <p class="lead text-center text-muted">9+ years experienced FULL STACK and Information Technology Analyst with
        skills in ASP.NET MVC, C#, Web API, Javascript, JQuery, Bootstrap, SQL & Oracle query languages.</p>
      <p class="lead text-center text-muted">In 2011, I started my professional career as a Application Developer,
        Worked on several large to mid sized applications with a goal to expand my knowledge in software industry.
        As
        of today, I worked with different clients at top companies and exciting startups.</p>
    </div>
  </div>
  <br />
  <br />
  <div id="skills" class="card">
    <div class="h4 card-header text-center">
      Professional Skills
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <br />
          <div class="progress-container">
            <span class="progress-badge">HTML | CSS | JavaScript</span>
            <div class="progress">
              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <br />
          <div class="progress-container">
            <span class="progress-badge">HTML 5 | Bootstrap | JQuery</span>
            <div class="progress">
              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <br />
          <div class="progress-container">
            <span class="progress-badge">Angular | React | Vue</span>
            <div class="progress">
              <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <br />
          <div class="progress-container">
            <span class="progress-badge">Flutter | Firebase</span>
            <div class="progress">
              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 70%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <br />
          <div class="progress-container">
            <span class="progress-badge">ASP.Net MVC | Web API | ASP.Net Core</span>
            <div class="progress">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <br />
          <div class="progress-container">
            <span class="progress-badge">SQL | Oracle | Mongo DB</span>
            <div class="progress">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 60%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <br />
          <div class="progress-container">
            <span class="progress-badge">Azure | AWS | Google Cloud</span>
            <div class="progress">
              <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 30%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <br />
          <div class="progress-container">
            <span class="progress-badge">Tortoise SVN | Git</span>
            <div class="progress">
              <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div id="projects">
    <div class="card">
      <div class="h4 card-header text-center">
        Projects
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 bg-success text-white">
                <div class="text-center">
                  <br />
                  <br />
                  <br />
                  <p>December 2020 - Present</p>
                  <h5>People Tech Group</h5>
                  <br />
                  <br />
                  <br />
                </div>
              </div>
              <div class="col-md-9">
                <h5>Technical Lead (Amazon)</h5>
                <div>
                  <ul>
                    <li>Determining the structure and design of web pages.</li>
                    <li>Developing features to enhance the user experience</li>
                    <li>Striking a balance between functional and aesthetic design</li>
                    <li>Maintaining brand consistency throughout design.</li>
                    <li>Producing, maintaining and modifying websites and user interfaces</li>
                    <li>Creating front end applications using HTML5, Angular, LESS/SASS</li>
                    <li>JavaScript Development on both client and server-side using Angular Node Express.js </li>
                    <li>Experience in both Relational and Non-Relational databases</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3 bg-info text-white">
                    <div class="text-center">
                      <br />
                      <br />
                      <br />
                      <p>May 2019 - Feb 2020</p>
                      <h5>Rx Advance</h5>
                      <br />
                      <br />
                      <br />
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h5>Web Developer (Rx Advance)</h5>
                    <p>Pharmacy Benefit Manager (PBM) reduces prescription drug costs and improve convenience and safety
                      for consumers, employers, unions, and government programs.</p>
                    <div>
                      <ul>
                        <li>Designed & Developed a product catalogue management system.</li>
                        <li>Developed Web API & UI for user Interaction.</li>
                        <li>Integrated Stripe Payment Service.</li>
                        <li>Provided support to handle production issues.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3 bg-secondary text-white">
                    <div class="text-center ">
                      <br />
                      <br />
                      <br />
                      <p>May 2014 - April 2019</p>
                      <h5>Tata Consultancy Services</h5>
                      <br />
                      <br />
                      <br />
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h5>IT Analyst (The Hartford)</h5>
                    <p>The Hartford Financial Services Group, Inc., usually known as The Hartford, is a United
                      States-based investment and insurance company.</p>
                    <div>
                      <ul>
                        <li>
                          Built Web based Applications for business process improvements across the Actuaries.</li>
                        <li>Worked with Fusion Charts to integrate Charts in the application.</li>
                        <li>Designed & Developed a Claims processing system.</li>
                        <li>Migrated Main Frame Applications to Web Based Applications.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3 bg-dark text-white">
                    <div class="text-center">
                      <br />
                      <br />
                      <br />
                      <p>June 2013 - April 2014</p>
                      <h5>Sundram Infotech Solutions</h5>
                      <br />
                      <br />
                      <br />
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h5>Software Engineer (Smart Lend)</h5>
                    <p>Smart Lend 3G is a lending suite adopted by various clients designed for those who want to
                      configure a loan origination, loan administration, collateral and an insurance management system.
                    </p>
                    <div>
                      <ul>
                        <li> Integrated Web Camera in the application to capture pictures of gold ornaments.</li>
                        <li>Created server controls to use globally and to avoid repetitive work.</li>
                        <li>Data Migration from client database to product database.</li>
                        <li>Worked in core areas of product to handle client customizations.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3 bg-dark text-white">
                    <div class="text-center">
                      <br />
                      <br />
                      <br />
                      <p>May 2011 - June 2013</p>
                      <h5>Ibhar Technologies</h5>
                      <br />
                      <br />
                      <br />
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h5>Software Engineer (ING Vysya Bank)</h5>
                    <p>ETracker is a complete in-house account opening tracking system which starts from “Branches
                      indenting” for kits through “account activation”.</p>
                    <div>
                      <ul>
                        <li>
                          Designed & Developed back office workflow of bank account opening process.</li>
                        <li>This application is being used in more than 500 branches across ING Vysya Bank.</li>
                        <li>Handled change requests & provided client support.</li>
                        <li>Created reusable user controls.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br />

</main>

<footer class="text-center" style="background-color: black;color: gray; padding: 20px;">
  <p>Copyright &copy; 2020, Chandra Sekhar</p>
</footer>
<router-outlet></router-outlet>